<f:if condition="{APIKey}">
	<f:then>
		<div{attributes -> f:format.raw()}>
			<f:if condition="{hasMap}">
				<div{mapAttributes -> f:format.raw()}><f:if condition="{title}">
					<strong><f:format.nl2br>{title -> f:format.raw()}</f:format.nl2br></strong><br></f:if><f:if condition="{text}">
					<f:format.nl2br>{text -> f:format.raw()}</f:format.nl2br>
				</f:if></div>
			</f:if>
			<f:if condition="{hasStreetview}">
				<div{streetViewAttributes -> f:format.raw()}></div>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<p style="background:#f0ad4e;color:#fff;box-shadow:0 1px 10px rgba(0,0,0,0.1);padding:5% 12px;margin:30px auto;text-align:center;text-decoration:none;outline:none;font-size:20px;">
			<f:format.raw><f:translate id="noAPIKey" package="Jonnitto.GoogleMaps" arguments="{style:'color:#fff;text-decoration:underline',link:'https://console.developers.google.com/apis/api/maps_backend'}" /></f:format.raw>
		</p>
	</f:else>
</f:if>
